<html>
<head>
  <title>Consistent Frozen Foods</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <div id="nav">
      <ul id="menu" class="red">
        <div id="logo"><img src="img/logo.png" /></div>
        <li class="left"><a href="/">Home</a></li>
        <li class="left"><a href="/about.html">About Us</a></li>
        <li class="left"><a href="/team.html">The Team</a></li>
        <li class="left"><a href="/contact.html">Contact</a></li>
        <li class="right"><%= link_to "lamb", "Lamb" %></li>
        <li class="right"><%= link_to "seafood", "Seafood" %></li>
        <li class="right"><%= link_to "beef", "Beef" %></li>
        <li class="right"><%= link_to "chicken", "Chicken" %></li>
        <li class="right"><%= link_to "pork", "Pork" %></li>
      </ul>
    </div>
    <%= yield %>
    <div id="footer">
      <p>Copyright &copy; 2012 - Consistent Frozen Solutions Corp. - All Rights Reserved | Designed by Luis and Peter</p>
      <p>
        <a href="/">Home</a> | 
        <a href="/about.html">About Us</a> | 
        <a href="/team.html">The Team</a> | 
        <a href="/contact.html">Contact</a> || 
        <%= link_to "pork", "Pork" %> | 
        <%= link_to "chicken", "Chicken" %> | 
        <%= link_to "beef", "Beef" %> | 
        <%= link_to "seafood", "Seafood" %> | 
        <%= link_to "lamb", "Lamb" %>
      </p>
    </div>
  </div>
</body>
</html>